{% extends "master.twig" %}

{% block page %}
	<div style="text-align:center;">
	<h2>Design Sketch</h2>
	<img src="assets/img/FRWL_Design.png" style="width:50%;padding:15px; border:1px dashed #777;">
	<h2>Use Case Diagram</h2>
	<img src="assets/img/FRWL_UseCase.png" style="width:50%;padding:15px; border:1px dashed #777;">
	<h2>Regression Activity Diagram</h2>
	<img src="assets/img/FRWL_Activity.png" style="width:50%;padding:15px; border:1px dashed #777;">	
	<h2>Page Sequence Diagram</h2>
	<img src="assets/img/FRWL_Sequence.png" style="width:50%;padding:15px; border:1px dashed #777;">
	<h2>Class Diagram</h2>
	<img src="assets/img/FRWL_Class.png" style="width:100%; padding:15px; border:1px dashed #777;">

{% endblock %}