<h3> Steps to glory</h3>
<hr>

<ul class="nav nav-stacked">
<li><a href="index"> The Idea Behind</a></li>
<li><a href="assets/TechRequirements.doc">Specification</a></li>
<li><a href="project">Design Documentation</a></li>
<li><a href="input"> Input Data</a></li>
<li><a href="clusters"> Clusterization</a></li>
<li><a href="regression"> Predictions</a></li>
</ul>

<hr>    