<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
      <a class="navbar-brand" href="index">2003-2013 Economy Dynamics</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">  
        <img style="max-height:40px; padding:5px; margin:5px 0; background:#000; border-radius:5px;" src="assets/img/russia-logo.png">
      </ul>
    </div>
  </div><!-- /container -->
</div>
